@media (min-width: 740px) {
    header {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;

        .svg {
            width: 10%;
            height: auto;
        }

    }

    h1 {
        font-size: 96px;
    }


    .navigation {
        flex-direction: row;
        justify-content: stretch;
        text-align: center;






    }

    .navigation li {
        display: flex;
        flex: 1 1 auto;



    }


    .navigation a {
        flex: 1 1 100%;
        align-items: center;
        justify-content: center;

    }

    #menu {
        display: none;
    }

    /* Create profile style*/
    .registration input[type="text"],
    .registration input[type="tel"],
    .registration input[type="email"],
    .registration input[type="date"],
    .registration select,
    
        .registration textarea,
        .registration input[type="submit"]

    {


        max-width: 800px;


    }
    .registration textarea,
    .registration select
    {
        margin-right: 10%;
    }
       




    /*Find Your House*/


    .container {
        margin: auto;
        margin-bottom: 10px;
    }
    /* About page*/
    .about{
        display: flex;
        justify-content: space-between;
        
    }
    .about img {
        width: 50%;
            
    }
    .about img:hover{
        box-shadow: 0 0 30rem #b0eefe;
        transition: 1s;
    }

    /* Commission Agent style with AI*/
        
    



   
}