@media (min-width:1000px) {

    .stars input {
            width: 15%;
    
        }
    
        .stars label[for="one-star"]::before {
            content: '\2606';
            position: relative;
    
            top: -20px;
            right: -103px;
    
    
    
        }
    
        .stars label[for="two-star"]::before {
            content: '\2606\2606';
            position: relative;
    
            top: -20px;
            right: -108px;
    
    
        }
    
        .stars label[for="three-star"]::before {
            content: '\2606\2606\2606';
            position: relative;
    
            top: -20px;
            right: -115px;
    
    
        }
    
        .stars label[for="four-star"]::before {
            content: '\2606\2606\2606\2606';
            position: relative;
    
            top: -20px;
            right: -120px;
        }
    
        .stars label[for="five-star"]::before {
            content: '\2606\2606\2606\2606\2606';
            position: relative;
    
            top: -20px;
            left:130px;
    
    
        }

input[id="name"] {
       
 width: 99%;
    }


}