@media (min-width:1000px) {

    .stars input {
            width: 16%;
    
        }
    
        .stars label[for="one-star"]::before {
            content: '\2606';
            position: relative;
    
            top: -20px;
            right: 107px;
    
    
    
        }
    
        .stars label[for="two-star"]::before {
            content: '\2606\2606';
            position: relative;
    
            top: -20px;
            right: 115px;
    
    
        }
    
        .stars label[for="three-star"]::before {
            content: '\2606\2606\2606';
            position: relative;
    
            top: -20px;
            right: 120px;
    
    
        }
    
        .stars label[for="four-star"]::before {
            content: '\2606\2606\2606\2606';
            position: relative;
    
            top: -20px;
            right: 127px;
        }
    
        .stars label[for="five-star"]::before {
            content: '\2606\2606\2606\2606\2606';
            position: relative;
    
            top: -41px;
            left:1026px;
    
    
        }

input[id="name"] {
       
 width: 99%;
    }


}