@media (min-width:500px ) {
  
    .stars input {
            width: 10%;
    
        }

    .stars label[for="one-star"]::before {
        content: '\2606';
        position: relative;

        top: -20px;
        right: -45px;



    }
        .stars label[for="two-star"]::before {
            content: '\2606\2606';
            position: relative;
    
            top: -20px;
            right: -55px;
    
    
        }

                .stars label[for="three-star"]::before {
                    content: '\2606\2606\2606';
                    position: relative;
        
                    top: -20px;
                    right: -58px;
        
        
                }

                .stars label[for="four-star"]::before {
                    content: '\2606\2606\2606\2606';
                    position: relative;
        
                    top: -20px;
                    right: -65px;
                }

                .stars label[for="five-star"]::before {
                                    content: '\2606\2606\2606\2606\2606';
                                    position: relative;
                
                                    top: -20px;
                                    left: 70px;
                
                                    
                                }

}
